<!DOCTYPE html>
<html>
<head>

    <title>Create Dispute</title>

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<h2>Create Dispute</h2>

<form id="disputeForm">

    <label>Transaction Id</label>
    <br>
    <input type="text" id="transactionId">
    <br><br>

    <label>Reason</label>
    <br>
    <input type="text" id="reason">
    <br><br>

    <label>Description</label>
    <br>
    <textarea id="description"></textarea>
    <br><br>

    <label>User Id</label>
    <br>
    <input type="number" id="userId">
    <br><br>

    <button type="submit">
        Create Dispute
    </button>

</form>

<script src="/js/dispute.js"></script>

</body>
</html>